.header {
    top: 0;
    height: 80px;
    border-bottom: 1px solid rgb(241, 240, 240);
    display: flex;
    justify-content: space-between;
}

.logo-container {
    .logo-image {
    height: 66px;
    }
}