.self-description {
   padding-top: 40px;
   padding-bottom: 40px;
   height: 620px;
}
.project-layout {
    display: flex;
    // background: URL('assets/cover_image.jpg');
    // height: 700px;
    // background-size: cover;
    // background-repeat: no-repeat;
    .project-description {
        flex: 1 1 50%;
    }
    .project-image {
        flex: 1 1 50%;
    }
}

