.project-image {
    height: 100px;
    width: 100px;
}

.personal-tagline {
    font-size: 40px;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color:#fecd1a ;
    // margin-bottom: 12px;
}

.personal-tagline-desc {
    font-size: 22px;
    margin-top: 21px;
}